{% extends "app_coder/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Buscador de Pedidos</h2>
<hr></hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="text_search" id="course_name" placeholder="Busqueda por apellido">
        <input type="submit" value="Buscar por Apellido">
    </div>
    <div>
        <input type="text" name="respuesto_search" id="course_code" placeholder="Busqueda por respuesto">
        <input type="submit" value="Buscar por Respuesto">
    </div>
    <div>
        <input type="text" name="all_search" id="course_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if pedidos %}
    <ul>
        {% for pedido in pedidos %}
            <li>
                Nombre: {{pedido.name}}
                -- Apellido: {{pedido.last_name}}
                -- Respuesto: {{pedido.respuesto}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}